codes/Control Robot Node-RED Modbus/Control_Robot.json
[
    {
        "id": "a4210502e49c4843",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "98bd35ed9c596db1",
        "type": "group",
        "z": "a4210502e49c4843",
        "name": "Slider Control",
        "style": {
            "label": true
        },
        "nodes": [
            "1e6a38fe53fae97d",
            "24efc41b57d90a8a",
            "2718a8092faca213",
            "17b0e275119cdeea",
            "bb785199d2d1d743",
            "9378cf2f43c88058",
            "fdaae862311283e8",
            "5c8689147fb6c615",
            "f462e79420404a40",
            "064a29d525eac1cb",
            "4795680feb3dd5fb",
            "d0aa33516595fa17",
            "b5aed7f45a92084f",
            "e722de3214c972d9",
            "dd02f93ad9bfa679",
            "018f5d514e4dd5f9",
            "ac1b87194c8b1ead",
            "421e465c4bdcb186",
            "a8768a7b43810a42",
            "acd682818a733774",
            "fa5f2930ed525545",
            "9087b3b1456e3c87",
            "9d979fc6dc5d9710",
            "304bf990903f86e0",
            "aa4fa7ff2d232ab0",
            "286a799afcee7ce2",
            "0befd82e7ae68094",
            "59326d661d5af8c9",
            "84c52f34e5bfced5",
            "a2ead41aea0cf5a9",
            "c0cddfa4e51f0120",
            "5681bad0617de0a0",
            "4079b40d71d8538b",
            "fefe3e2428531d1e",
            "765e65ceb5f6a17f",
            "6687db5c147c2e95",
            "7947c789b26ca244",
            "eff20fc5b98ca647",
            "52cb0fb39071866c",
            "cdd9207b7843ffa1",
            "334ea0e83d8f89b5",
            "96b917823580e6f9",
            "2ff22f0e3bbb62f5",
            "ca42ccae0e1361d6"
        ],
        "x": 94,
        "y": 19,
        "w": 1182,
        "h": 842
    },
    {
        "id": "145eaca7043fedbe",
        "type": "group",
        "z": "a4210502e49c4843",
        "name": "Joystick Control X and  Y",
        "style": {
            "label": true
        },
        "nodes": [
            "eff7b546c70b2bad",
            "3748033cadd55e0a",
            "4412f54fe84deb36",
            "e872a9709073150b",
            "bcbd259905901833",
            "8f683f60af638a73",
            "45938aa70950f96b",
            "2aca884aeb4cc7be",
            "1e90c1336afe4241",
            "ceaf24406b9ac85e",
            "3e07efa2edabd41b",
            "11793607d6ae4d26"
        ],
        "x": 94,
        "y": 899,
        "w": 792,
        "h": 242
    },
    {
        "id": "1ffcd839eb47bfa5",
        "type": "group",
        "z": "a4210502e49c4843",
        "name": "Joystick Control Z1 and  Z2",
        "style": {
            "label": true
        },
        "nodes": [
            "4ac1cc9fce48f5e5",
            "9bd0623853660471",
            "f7311ffd148e2c11",
            "6d7b4d229bd16b87",
            "ea57adc7886f85d1",
            "396c46cabf03a9f9",
            "c1fa3b4f96c5a6da",
            "0389b436fe0d53e0",
            "277634497c506b8b",
            "3d75827edeaa4ced",
            "af37fbc68ed2182d",
            "c412b4c4ca0d8ee3"
        ],
        "x": 94,
        "y": 1159,
        "w": 792,
        "h": 242
    },
    {
        "id": "a52b3a1dfce0ef28",
        "type": "group",
        "z": "a4210502e49c4843",
        "name": "Joystick Control Rotate and  Grip",
        "style": {
            "label": true
        },
        "nodes": [
            "c329d951ed1747a5",
            "6f79a46ebda7214d",
            "ab12855d0b678628",
            "8d2a74d16c6de73f",
            "c13686a39ad11b06",
            "6a60bbac768745f4",
            "26fe379706e21bc1",
            "60c740e293dd68ea",
            "9f532287413b58d7",
            "b69ba304e042e6a7",
            "bdca6ddd6bc53da8",
            "f15d518d7ec39cfb"
        ],
        "x": 94,
        "y": 1419,
        "w": 792,
        "h": 242
    },
    {
        "id": "b925f1f57ac413f9",
        "type": "ui_tab",
        "name": "Control Robot Modbus",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "43fa6f64ef955426",
        "type": "ui_group",
        "name": "Slider Control",
        "tab": "b925f1f57ac413f9",
        "order": 1,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "73c4db528d87941a",
        "type": "modbus-client",
        "name": "ESP8266 Robot",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.1.12",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "2000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "1000",
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "5f95fdf09b867050",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#f1ca09",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "65cc4df7a50a1b91",
        "type": "ui_group",
        "name": "Joystick Control",
        "tab": "b925f1f57ac413f9",
        "order": 2,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1e6a38fe53fae97d",
        "type": "modbus-write",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "1",
        "server": "73c4db528d87941a",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1060,
        "y": 220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "24efc41b57d90a8a",
        "type": "ui_slider",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "",
        "label": "X-Servo",
        "tooltip": "",
        "group": "43fa6f64ef955426",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "450",
        "step": "2",
        "className": "",
        "x": 820,
        "y": 220,
        "wires": [
            [
                "dd02f93ad9bfa679",
                "1e6a38fe53fae97d"
            ]
        ]
    },
    {
        "id": "2718a8092faca213",
        "type": "ui_switch",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "",
        "label": "Fast Speed",
        "tooltip": "",
        "group": "43fa6f64ef955426",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "5",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "10",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 830,
        "y": 820,
        "wires": [
            [
                "17b0e275119cdeea",
                "5681bad0617de0a0"
            ]
        ]
    },
    {
        "id": "17b0e275119cdeea",
        "type": "modbus-write",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "6",
        "quantity": "1",
        "server": "73c4db528d87941a",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1060,
        "y": 820,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "bb785199d2d1d743",
        "type": "modbus-write",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "1",
        "quantity": "1",
        "server": "73c4db528d87941a",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1060,
        "y": 320,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "9378cf2f43c88058",
        "type": "ui_slider",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "",
        "label": "Y-Servo",
        "tooltip": "",
        "group": "43fa6f64ef955426",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "450",
        "step": "2",
        "className": "",
        "x": 820,
        "y": 320,
        "wires": [
            [
                "59326d661d5af8c9",
                "bb785199d2d1d743"
            ]
        ]
    },
    {
        "id": "fdaae862311283e8",
        "type": "modbus-write",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "2",
        "quantity": "1",
        "server": "73c4db528d87941a",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1060,
        "y": 420,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "5c8689147fb6c615",
        "type": "ui_slider",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "",
        "label": "Z1-Servo",
        "tooltip": "",
        "group": "43fa6f64ef955426",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "450",
        "step": "2",
        "className": "",
        "x": 820,
        "y": 420,
        "wires": [
            [
                "018f5d514e4dd5f9",
                "fdaae862311283e8"
            ]
        ]
    },
    {
        "id": "eff7b546c70b2bad",
        "type": "ui_joystick",
        "z": "a4210502e49c4843",
        "g": "145eaca7043fedbe",
        "name": "Joystick 1",
        "group": "65cc4df7a50a1b91",
        "order": 4,
        "width": "6",
        "height": "6",
        "trigger": "all",
        "timeInterval": "500",
        "useThemeColor": true,
        "color": "#000000",
        "threshold": 0.1,
        "directions": "all",
        "shape": "circle",
        "centerAtRelease": true,
        "x": 180,
        "y": 1000,
        "wires": [
            [
                "3748033cadd55e0a"
            ]
        ]
    },
    {
        "id": "f462e79420404a40",
        "type": "modbus-write",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "3",
        "quantity": "1",
        "server": "73c4db528d87941a",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1060,
        "y": 520,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "064a29d525eac1cb",
        "type": "ui_slider",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "",
        "label": "Z2-Servo",
        "tooltip": "",
        "group": "43fa6f64ef955426",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "450",
        "step": "2",
        "className": "",
        "x": 820,
        "y": 520,
        "wires": [
            [
                "ac1b87194c8b1ead",
                "f462e79420404a40"
            ]
        ]
    },
    {
        "id": "4795680feb3dd5fb",
        "type": "modbus-write",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4",
        "quantity": "1",
        "server": "73c4db528d87941a",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1060,
        "y": 620,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d0aa33516595fa17",
        "type": "ui_slider",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "",
        "label": "Rotate-Servo",
        "tooltip": "",
        "group": "43fa6f64ef955426",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "450",
        "step": "2",
        "className": "",
        "x": 830,
        "y": 620,
        "wires": [
            [
                "421e465c4bdcb186",
                "4795680feb3dd5fb"
            ]
        ]
    },
    {
        "id": "b5aed7f45a92084f",
        "type": "modbus-write",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "5",
        "quantity": "1",
        "server": "73c4db528d87941a",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1060,
        "y": 720,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e722de3214c972d9",
        "type": "ui_slider",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "",
        "label": "Grip-Servo",
        "tooltip": "",
        "group": "43fa6f64ef955426",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "120",
        "max": "200",
        "step": "2",
        "className": "",
        "x": 830,
        "y": 720,
        "wires": [
            [
                "a8768a7b43810a42",
                "b5aed7f45a92084f"
            ]
        ]
    },
    {
        "id": "dd02f93ad9bfa679",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "x_servo",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "018f5d514e4dd5f9",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "z1_servo",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "ac1b87194c8b1ead",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "z2_servo",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "421e465c4bdcb186",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "rotate_servo",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "a8768a7b43810a42",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "grip_servo",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "acd682818a733774",
        "type": "ui_button",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "",
        "group": "43fa6f64ef955426",
        "order": 8,
        "width": "18",
        "height": "1",
        "passthru": false,
        "label": "Home Position",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 120,
        "wires": [
            [
                "4079b40d71d8538b"
            ]
        ]
    },
    {
        "id": "fa5f2930ed525545",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "x_servo",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "x_servo",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 220,
        "wires": [
            [
                "24efc41b57d90a8a"
            ]
        ]
    },
    {
        "id": "9087b3b1456e3c87",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "y_servo",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "y_servo",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 320,
        "wires": [
            [
                "9378cf2f43c88058"
            ]
        ]
    },
    {
        "id": "9d979fc6dc5d9710",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "z1_servo",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "z1_servo",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 420,
        "wires": [
            [
                "5c8689147fb6c615"
            ]
        ]
    },
    {
        "id": "304bf990903f86e0",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "z2_servo",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "z2_servo",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 520,
        "wires": [
            [
                "064a29d525eac1cb"
            ]
        ]
    },
    {
        "id": "aa4fa7ff2d232ab0",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "rotate_servo",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rotate_servo",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 620,
        "wires": [
            [
                "d0aa33516595fa17"
            ]
        ]
    },
    {
        "id": "286a799afcee7ce2",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "grip_servo",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "grip_servo",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 720,
        "wires": [
            [
                "e722de3214c972d9"
            ]
        ]
    },
    {
        "id": "0befd82e7ae68094",
        "type": "inject",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "Initial position",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 220,
        "y": 60,
        "wires": [
            [
                "4079b40d71d8538b"
            ]
        ]
    },
    {
        "id": "59326d661d5af8c9",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "y_servo",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "84c52f34e5bfced5",
        "type": "function",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "Write 0-9 on Unit 1 FC16",
        "func": "msg.payload = { value: msg.payload, 'fc': 16, 'unitid': 1, 'address': 0 , 'quantity': 7 };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 120,
        "wires": [
            [
                "a2ead41aea0cf5a9"
            ]
        ]
    },
    {
        "id": "a2ead41aea0cf5a9",
        "type": "modbus-flex-write",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "server": "73c4db528d87941a",
        "emptyMsgOnFail": true,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1070,
        "y": 120,
        "wires": [
            [
                "fefe3e2428531d1e"
            ],
            []
        ]
    },
    {
        "id": "c0cddfa4e51f0120",
        "type": "function",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "function 1",
        "func": "msg.payload = [flow.get(\"x_servo\"),flow.get(\"y_servo\"),flow.get(\"z1_servo\"),flow.get(\"z2_servo\"),flow.get(\"rotate_servo\"),flow.get(\"grip_servo\"),flow.get(\"speed_delay\")]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 120,
        "wires": [
            [
                "84c52f34e5bfced5"
            ]
        ]
    },
    {
        "id": "5681bad0617de0a0",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "speed_delay",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "4079b40d71d8538b",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "origin servo",
        "rules": [
            {
                "t": "set",
                "p": "x_servo",
                "pt": "flow",
                "to": "238",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "y_servo",
                "pt": "flow",
                "to": "120",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "z1_servo",
                "pt": "flow",
                "to": "120",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "z2_servo",
                "pt": "flow",
                "to": "400",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "rotate_servo",
                "pt": "flow",
                "to": "422",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "grip_servo",
                "pt": "flow",
                "to": "200",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 120,
        "wires": [
            [
                "c0cddfa4e51f0120"
            ]
        ]
    },
    {
        "id": "fefe3e2428531d1e",
        "type": "link out",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "765e65ceb5f6a17f"
        ],
        "x": 1235,
        "y": 120,
        "wires": []
    },
    {
        "id": "765e65ceb5f6a17f",
        "type": "link in",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "link in 1",
        "links": [
            "fefe3e2428531d1e"
        ],
        "x": 145,
        "y": 460,
        "wires": [
            [
                "fa5f2930ed525545",
                "9087b3b1456e3c87",
                "9d979fc6dc5d9710",
                "304bf990903f86e0",
                "aa4fa7ff2d232ab0",
                "286a799afcee7ce2"
            ]
        ]
    },
    {
        "id": "3748033cadd55e0a",
        "type": "switch",
        "z": "a4210502e49c4843",
        "g": "145eaca7043fedbe",
        "name": "",
        "property": "payload.direction.angle",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "left",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "right",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "up",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "down",
                "vt": "str"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 350,
        "y": 1000,
        "wires": [
            [
                "4412f54fe84deb36"
            ],
            [
                "e872a9709073150b"
            ],
            [
                "bcbd259905901833"
            ],
            [
                "8f683f60af638a73"
            ],
            [
                "45938aa70950f96b"
            ]
        ]
    },
    {
        "id": "4412f54fe84deb36",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "145eaca7043fedbe",
        "name": "set True",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 940,
        "wires": [
            [
                "2aca884aeb4cc7be"
            ]
        ]
    },
    {
        "id": "e872a9709073150b",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "145eaca7043fedbe",
        "name": "set True",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 980,
        "wires": [
            [
                "1e90c1336afe4241"
            ]
        ]
    },
    {
        "id": "bcbd259905901833",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "145eaca7043fedbe",
        "name": "set True",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1020,
        "wires": [
            [
                "ceaf24406b9ac85e"
            ]
        ]
    },
    {
        "id": "8f683f60af638a73",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "145eaca7043fedbe",
        "name": "set True",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1060,
        "wires": [
            [
                "3e07efa2edabd41b"
            ]
        ]
    },
    {
        "id": "45938aa70950f96b",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "145eaca7043fedbe",
        "name": "set False",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1100,
        "wires": [
            [
                "2aca884aeb4cc7be",
                "1e90c1336afe4241",
                "ceaf24406b9ac85e",
                "3e07efa2edabd41b",
                "11793607d6ae4d26"
            ]
        ]
    },
    {
        "id": "2aca884aeb4cc7be",
        "type": "modbus-write",
        "z": "a4210502e49c4843",
        "g": "145eaca7043fedbe",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "1",
        "server": "73c4db528d87941a",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 740,
        "y": 940,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "1e90c1336afe4241",
        "type": "modbus-write",
        "z": "a4210502e49c4843",
        "g": "145eaca7043fedbe",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "1",
        "quantity": "1",
        "server": "73c4db528d87941a",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 740,
        "y": 980,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ceaf24406b9ac85e",
        "type": "modbus-write",
        "z": "a4210502e49c4843",
        "g": "145eaca7043fedbe",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "2",
        "quantity": "1",
        "server": "73c4db528d87941a",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 740,
        "y": 1020,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3e07efa2edabd41b",
        "type": "modbus-write",
        "z": "a4210502e49c4843",
        "g": "145eaca7043fedbe",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "3",
        "quantity": "1",
        "server": "73c4db528d87941a",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 740,
        "y": 1060,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4ac1cc9fce48f5e5",
        "type": "ui_joystick",
        "z": "a4210502e49c4843",
        "g": "1ffcd839eb47bfa5",
        "name": "Joystick 2",
        "group": "65cc4df7a50a1b91",
        "order": 4,
        "width": "6",
        "height": "6",
        "trigger": "all",
        "timeInterval": "500",
        "useThemeColor": true,
        "color": "#000000",
        "threshold": 0.1,
        "directions": "all",
        "shape": "circle",
        "centerAtRelease": true,
        "x": 180,
        "y": 1260,
        "wires": [
            [
                "9bd0623853660471"
            ]
        ]
    },
    {
        "id": "9bd0623853660471",
        "type": "switch",
        "z": "a4210502e49c4843",
        "g": "1ffcd839eb47bfa5",
        "name": "",
        "property": "payload.direction.angle",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "left",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "right",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "up",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "down",
                "vt": "str"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 350,
        "y": 1260,
        "wires": [
            [
                "f7311ffd148e2c11"
            ],
            [
                "6d7b4d229bd16b87"
            ],
            [
                "ea57adc7886f85d1"
            ],
            [
                "396c46cabf03a9f9"
            ],
            [
                "c1fa3b4f96c5a6da"
            ]
        ]
    },
    {
        "id": "f7311ffd148e2c11",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "1ffcd839eb47bfa5",
        "name": "set True",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1200,
        "wires": [
            [
                "0389b436fe0d53e0"
            ]
        ]
    },
    {
        "id": "6d7b4d229bd16b87",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "1ffcd839eb47bfa5",
        "name": "set True",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1240,
        "wires": [
            [
                "277634497c506b8b"
            ]
        ]
    },
    {
        "id": "ea57adc7886f85d1",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "1ffcd839eb47bfa5",
        "name": "set True",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1280,
        "wires": [
            [
                "3d75827edeaa4ced"
            ]
        ]
    },
    {
        "id": "396c46cabf03a9f9",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "1ffcd839eb47bfa5",
        "name": "set True",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1320,
        "wires": [
            [
                "af37fbc68ed2182d"
            ]
        ]
    },
    {
        "id": "c1fa3b4f96c5a6da",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "1ffcd839eb47bfa5",
        "name": "set False",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1360,
        "wires": [
            [
                "0389b436fe0d53e0",
                "277634497c506b8b",
                "3d75827edeaa4ced",
                "af37fbc68ed2182d",
                "c412b4c4ca0d8ee3"
            ]
        ]
    },
    {
        "id": "0389b436fe0d53e0",
        "type": "modbus-write",
        "z": "a4210502e49c4843",
        "g": "1ffcd839eb47bfa5",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "4",
        "quantity": "1",
        "server": "73c4db528d87941a",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 740,
        "y": 1200,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "277634497c506b8b",
        "type": "modbus-write",
        "z": "a4210502e49c4843",
        "g": "1ffcd839eb47bfa5",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "5",
        "quantity": "1",
        "server": "73c4db528d87941a",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 740,
        "y": 1240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3d75827edeaa4ced",
        "type": "modbus-write",
        "z": "a4210502e49c4843",
        "g": "1ffcd839eb47bfa5",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "6",
        "quantity": "1",
        "server": "73c4db528d87941a",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 740,
        "y": 1280,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "af37fbc68ed2182d",
        "type": "modbus-write",
        "z": "a4210502e49c4843",
        "g": "1ffcd839eb47bfa5",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "7",
        "quantity": "1",
        "server": "73c4db528d87941a",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 740,
        "y": 1320,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c329d951ed1747a5",
        "type": "ui_joystick",
        "z": "a4210502e49c4843",
        "g": "a52b3a1dfce0ef28",
        "name": "Joystick 2",
        "group": "65cc4df7a50a1b91",
        "order": 4,
        "width": "6",
        "height": "6",
        "trigger": "all",
        "timeInterval": "500",
        "useThemeColor": true,
        "color": "#000000",
        "threshold": 0.1,
        "directions": "all",
        "shape": "circle",
        "centerAtRelease": true,
        "x": 180,
        "y": 1520,
        "wires": [
            [
                "6f79a46ebda7214d"
            ]
        ]
    },
    {
        "id": "6f79a46ebda7214d",
        "type": "switch",
        "z": "a4210502e49c4843",
        "g": "a52b3a1dfce0ef28",
        "name": "",
        "property": "payload.direction.angle",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "right",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "left",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "up",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "down",
                "vt": "str"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 350,
        "y": 1520,
        "wires": [
            [
                "ab12855d0b678628"
            ],
            [
                "8d2a74d16c6de73f"
            ],
            [
                "c13686a39ad11b06"
            ],
            [
                "6a60bbac768745f4"
            ],
            [
                "26fe379706e21bc1"
            ]
        ]
    },
    {
        "id": "ab12855d0b678628",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "a52b3a1dfce0ef28",
        "name": "set True",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1460,
        "wires": [
            [
                "60c740e293dd68ea"
            ]
        ]
    },
    {
        "id": "8d2a74d16c6de73f",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "a52b3a1dfce0ef28",
        "name": "set True",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1500,
        "wires": [
            [
                "9f532287413b58d7"
            ]
        ]
    },
    {
        "id": "c13686a39ad11b06",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "a52b3a1dfce0ef28",
        "name": "set True",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1540,
        "wires": [
            [
                "b69ba304e042e6a7"
            ]
        ]
    },
    {
        "id": "6a60bbac768745f4",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "a52b3a1dfce0ef28",
        "name": "set True",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1580,
        "wires": [
            [
                "bdca6ddd6bc53da8"
            ]
        ]
    },
    {
        "id": "26fe379706e21bc1",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "a52b3a1dfce0ef28",
        "name": "set False",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1620,
        "wires": [
            [
                "60c740e293dd68ea",
                "9f532287413b58d7",
                "b69ba304e042e6a7",
                "bdca6ddd6bc53da8",
                "f15d518d7ec39cfb"
            ]
        ]
    },
    {
        "id": "60c740e293dd68ea",
        "type": "modbus-write",
        "z": "a4210502e49c4843",
        "g": "a52b3a1dfce0ef28",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "8",
        "quantity": "1",
        "server": "73c4db528d87941a",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 740,
        "y": 1460,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "9f532287413b58d7",
        "type": "modbus-write",
        "z": "a4210502e49c4843",
        "g": "a52b3a1dfce0ef28",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "9",
        "quantity": "1",
        "server": "73c4db528d87941a",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 740,
        "y": 1500,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b69ba304e042e6a7",
        "type": "modbus-write",
        "z": "a4210502e49c4843",
        "g": "a52b3a1dfce0ef28",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "10",
        "quantity": "1",
        "server": "73c4db528d87941a",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 740,
        "y": 1540,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "bdca6ddd6bc53da8",
        "type": "modbus-write",
        "z": "a4210502e49c4843",
        "g": "a52b3a1dfce0ef28",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "11",
        "quantity": "1",
        "server": "73c4db528d87941a",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 740,
        "y": 1580,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6687db5c147c2e95",
        "type": "modbus-read",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "6",
        "rate": "1000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "73c4db528d87941a",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 310,
        "y": 460,
        "wires": [
            [
                "7947c789b26ca244"
            ],
            []
        ]
    },
    {
        "id": "11793607d6ae4d26",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "145eaca7043fedbe",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "status_update",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "c412b4c4ca0d8ee3",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "1ffcd839eb47bfa5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "status_update",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "f15d518d7ec39cfb",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "a52b3a1dfce0ef28",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "status_update",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "7947c789b26ca244",
        "type": "switch",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "",
        "property": "status_update",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 470,
        "y": 440,
        "wires": [
            [
                "eff20fc5b98ca647"
            ]
        ]
    },
    {
        "id": "eff20fc5b98ca647",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "set false",
        "rules": [
            {
                "t": "set",
                "p": "status_update",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 480,
        "wires": [
            [
                "52cb0fb39071866c",
                "cdd9207b7843ffa1",
                "334ea0e83d8f89b5",
                "96b917823580e6f9",
                "2ff22f0e3bbb62f5",
                "ca42ccae0e1361d6"
            ]
        ]
    },
    {
        "id": "52cb0fb39071866c",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "x_servo",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 240,
        "wires": [
            [
                "24efc41b57d90a8a"
            ]
        ]
    },
    {
        "id": "cdd9207b7843ffa1",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "y_servo",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[1]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 340,
        "wires": [
            [
                "9378cf2f43c88058"
            ]
        ]
    },
    {
        "id": "334ea0e83d8f89b5",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "z1_servo",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[2]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 440,
        "wires": [
            [
                "5c8689147fb6c615"
            ]
        ]
    },
    {
        "id": "96b917823580e6f9",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "z2_servo",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[3]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 500,
        "wires": [
            [
                "064a29d525eac1cb"
            ]
        ]
    },
    {
        "id": "2ff22f0e3bbb62f5",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "rotate",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[4]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 600,
        "wires": [
            [
                "d0aa33516595fa17"
            ]
        ]
    },
    {
        "id": "ca42ccae0e1361d6",
        "type": "change",
        "z": "a4210502e49c4843",
        "g": "98bd35ed9c596db1",
        "name": "grip_servo",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[5]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 700,
        "wires": [
            [
                "e722de3214c972d9"
            ]
        ]
    }
]